<div class="containe-fluid">

    <section class="row frist-sec " id=home>
        <div class="container row px-5">
            <aside class="col-lg-3 text-light">
                <h1 class="mb-4">Modern Interior<span class=d-block>Design Studio</span></h1>
                <p class="mb-4">From modern elegance to classic sophistication furniture, explore a range of styles
                    tailored to every taste .</p>
                <p><a href="" class="btn btn-secondary me-2">Shop Now</a>
                    <a href="#" class="btn btn-white-outline">Explore</a>
                </p>
            </aside>
            <aside class="col-lg-5"><img src="assets/Images/couch.png"></aside>
            <img src="../../../assets/Images/dots-light.svg" class="dots-light">
        </div>
    </section>
    <section class="row modern-sec py-5">
        <div class="container row px-5 justify-content-between">
            <aside class="col-md-4 left" id="about">
                <img src="assets/Images/img-grid-1.jpg" width="450px" class="brown-img ">
                <img src="assets/Images/img-grid-2.jpg" width="230px" class="office-img ">
                <img src="assets/Images/img-grid-3.jpg" width="400px" class="chair-img ">
                <img src="assets/Images/dots-green.svg" class="dots-green">

            </aside>
            <aside class="col-md-5 right ">

                <h2 class="section-title mb-4">We Help You Make Modern Interior Design</h2>
                <p>
                    Our team is dedicated to your design goals, whether renovating or crafting a new space. With curated
                    contemporary selections, we provide the inspiration and tools to transform any room. From sleek
                    minimalism to bold pieces, we cater to every taste. Let our expertise bring your vision to life</p>

                <ul class="row  my-4">
                    <li class="col-md-3 pe-4">Dedicated team for your design goals</li>
                    <li class="col-md-3 pe-4">Curated contemporary selections</li>
                    <li class="col-md-3 pe-4">Transform any room with ease</li>
                    <li class="col-md-3 pe-4">Range of styles to match every taste</li>
                </ul>
                <p><a herf="#" class="btn btn-explore">Explore</a></p>

            </aside>

        </div>
    </section>

    <section class="row second-sec py-5">
        <div class="container row px-5  pt-5">
            <aside class="col-lg-5 left" id="service">
                <h1 class="mb-3"> Why Choose Us</h1>
                <p>Choose us for quality, style, and service. Our curated collection offers timeless elegance and
                    comfort, backed by exceptional craftsmanship and customer satisfaction.</p>
                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/Images/truck.svg" alt="Image" class="imf-fluid">
                                <div class="circle"></div>
                            </div>
                            <h3>Fast &amp; Free Shipping</h3>
                            <p>Experience the convenience of fast, free shipping on every order! From our store to your
                                doorstep</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/Images/bag.svg" alt="Image" class="imf-fluid">
                                <div class="circle"></div>
                            </div>
                            <h3>Easy to Shop</h3>

                            <p>Simplify shopping with easy navigation for effortless browsing. Browse, find, and
                                decorate with ease!</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/Images/support.svg" alt="Image" class="imf-fluid">
                                <div class="circle"></div>
                            </div>
                            <h3>24/7 Support</h3>
                            <p>Whenever you need assistance, day or night, our dedicated support team is here for you
                            </p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/Images/return.svg" alt="Image" class="imf-fluid">
                                <div class="circle"></div>
                            </div>
                            <h3>Hassle Free Returns</h3>
                            <p>Experience hassle-free returns. Satisfaction guaranteed! Shop with confidence.</p>
                        </div>
                    </div>

                </div>
            </aside>
            <aside class="col-lg-5 right">
                <img src="assets/Images/why-choose-us-img.jpg" width="90%" class="main-img">
                <img src="assets/Images/dots-yellow.svg" class="dots-yellow">
            </aside>
        </div>
    </section>
    <!--     <section class="row team-sec" id="about">

        <div class="container row px-5 ">
            <div class="col-lg-12 text-center mb-5 title">
                <h1 class="mb-3">Meet Our Team</h1>
                <p>Discover the dedicated individuals who bring expertise, creativity, and passion to every aspect of
                    our service and design philosophy</p>
            </div>
            <div class="row team-member mx-5">
                <div class=" col-md-6 col-lg-3 mb-5 mb-md-0 ">
                    <img src="assets/Images/person_1.jpg" class="img-fluid mb-5">
                    <h3 clas=""><a href="#" class="text-dark"><span>Lawson</span> Arnold</a></h3>
                    <span class="d-block position mb-4">Design Virtuoso</span>
                    <p class="pe-4">Arnold blends creativity and precision to craft inspiring spaces</p>
                    <p class="mb-0 mt-3"><a href="#" class="more dark text-dark fw-bold ">Learn More <span
                                class="icon-arrow_forward"></span></a></p>
                </div>

                <div class=" col-md-6 col-lg-3 mb-5 mb-md-0">
                    <img src="assets/Images/person_2.jpg" class="img-fluid mb-5">

                    <h3 clas=""><a href="#" class="text-dark"><span>Jeremy</span> Walker</a></h3>
                    <span class="d-block position mb-4">Customer Care Maestro</span>
                    <p class="pe-4">Walker ensures every interaction is met with warmth and efficiency</p>
                    <p class="mb-0 mt-3"><a href="#" class="more dark text-dark fw-bold">Learn More <span
                                class="icon-arrow_forward"></span></a></p>

                </div>

                <div class=" col-md-6 col-lg-3 mb-5 mb-md-0">
                    <img src="assets/Images/person_3.jpg" class="img-fluid mb-5">
                    <h3 clas=""><a href="#" class="text-dark"><span>Patrik</span> White</a></h3>
                    <span class="d-block position mb-4">Tech Wizard</span>
                    <p class="">White keeps our digital world running seamlessly behind the scenes.</p>
                    <p class="mb-0 mt-3"><a href="#" class="more dark text-dark fw-bold">Learn More <span
                                class="icon-arrow_forward"></span></a></p>
                </div>
                <div class=" col-md-6 col-lg-3 mb-5 mb-md-0">
                    <img src="assets/Images/person_4.jpg" class="img-fluid mb-5">

                    <h3 clas=""><a href="#" class="text-dark"><span>Kathryn</span> Ryan</a></h3>
                    <span class="d-block  mb-4">Logistics Guru</span>
                    <p class="">Ryan always ensures timely delivery with precision and care.</p>
                    <p class="mb-0 mt-3"><a href="#" class="more dark text-dark fw-bold ">Learn More <span
                                class="icon-arrow_forward"></span></a></p>
                </div>
            </div>
        </div>
    </section> -->

    <section class="row reviews-sec" id="blog">
        <h2 class="section-title text-center">Testimonials</h2>
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">

                    <img src="assets/Images/person_4.jpg" class="d-block  img-slider" alt="...">
                    <div class="author-info">

                        <span class=" d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
                        <h6 class=" fw-bold text-center">Lireka ogest</h6>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <p>“Remarkable experience from start to finish! The team's passion for design and commitment to
                            excellence shines through in every detail. Our home
                            has been transformed into a haven of style and comfort. Grateful for their expertise”</p>
                    </div>

                </div>
                <div class="carousel-item" data-bs-interval="2000">

                    <img src="assets/Images/person_1.jpg" class="d-block  img-slider" alt="...">
                    <div class="author-info">

                        <span class=" d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
                        <h6 class=" fw-bold text-center">Justin Jones</h6>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <p>“Couldn't be happier with the outcome! The team's attention to detail and
                            creative approach made all the difference. Our space feels like a dream come true. Thank
                            you”</p>
                    </div>

                </div>
                <div class="carousel-item">

                    <img src="assets/Images/person-1.jpg" class="d-block img-slider" alt="...">
                    <div class="author-info">

                        <span class=" d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
                        <h6 class=" fw-bold text-center">Maria Jones</h6>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <p>“Exceptional service and stunning results! Our project was handled with
                            professionalism and care, resulting in a space that truly reflects our style. Highly
                            recommend!”</p>
                    </div>

                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </section>
    <section class="row contact-sec">
        <div class="container row px-5 pt-5" id="contact">
            <h2 class="text-center">Contact Us</h2>
            <div class="contact-icons row justify-content-center mx-5  ">
                <div class="col-md-3 me-3 "><i class="bi bi-geo-alt-fill loc"></i><span>Elvilal,Benha,Qlubian,
                        Egypt</span></div>
                <div class="col-md-3 me-3 "><i class="bi bi-envelope msg"></i><span>store@gmail.com</span></div>
                <div class="col-md-3  me-3"><i class="bi bi-telephone-fill phone"></i><span>+20112290078</span></div>
            </div>
            <div class="row form-contact pt-5">
                <form class="row">
                    <div class="mb-3  col-sm-10 col-md-5  me-3 fname ">
                        <label for="fname" class="form-label ">Frist Name</label>
                        <input type="text" class="form-control" id="fname" name="fname">
                    </div>
                    <div class="mb-3 col-sm-10 col-md-5 lname">
                        <label for="lname" class="form-label ">Last Name</label>
                        <input type="email" class="form-control" id="lname" name="lname">
                    </div>
                    <div class="mb-3 col-10">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="name@example.com">
                    </div>
                    <div class="mb-3 col-10">
                        <label for="msg" class="form-label">Message</label>
                        <textarea class="form-control" id="msg" name="msg" rows="3"></textarea>
                    </div>

                    <button type="submit" class=" btn-contact">Send Message</button>
                </form>
            </div>
        </div>
    </section>

</div>